<configuration>

    <!-- *************************************************************************************************************
    *************************************************************************************************************
           консольный appender
           *************************************************************************************************************
  *************************************************************************************************************  -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--charset>windows-1251</charset-->
            <pattern>%date{dd.MM.yyyy HH:mm:ss} %-5level %logger - [%msg]%n</pattern>
        </encoder>
    </appender>


    <!-- *************************************************************************************************************
    *************************************************************************************************************
    *************************************************************************************************************
              LOGGERS
    *************************************************************************************************************
    *************************************************************************************************************
    *************************************************************************************************************  -->
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
